<div class = "container">
  <h1 class="text-center ">Lead Report</h1>
  <div class="text-center ">  
  <br>     
  <p ><%= image_tag(@user.image.url(:thumb)) %></p>
<p ><%= @oleg %></p>


</div>

<div class='row'>
        <div class ='span4'>
        </div>
<div class ='span4'>

<table class = "table" id = "panel" >
          <tr>
            <td >Inspector</td>
            <td >Date</td>
            <td >Erase</td>
          </tr>
      

<% @oleg_reports.reverse_each do |inspection_report| %>
          <tr>    


            <td ><strong><%= link_to inspection_report.inspector, inspection_report_path(inspection_report) %><strong></td>

<!-- <td ><strong><%= link_to inspection_report.date, inspection_report_path(inspection_report) %><strong></td> -->
            <td ><strong><%= inspection_report.date %><strong></td>

            <td><strong><%= button_to 'o', inspection_report_path(inspection_report), :class => "btn btn-link" ,method: :delete %></strong></td>
          </tr>
        <% end %>


<% @brian_reports.reverse_each do |inspection_report| %>
          <tr>    


            <td ><strong><%= link_to inspection_report.inspector, inspection_report_path(inspection_report) %><strong></td>

<!-- <td ><strong><%= link_to inspection_report.date, inspection_report_path(inspection_report) %><strong></td> -->
            <td ><strong><%= inspection_report.date %><strong></td>

            <td><strong><%= button_to 'o', inspection_report_path(inspection_report), :class => "btn btn-link" ,method: :delete %></strong></td>
          </tr>
        <% end %>

<% @howard_reports.reverse_each do |inspection_report| %>
          <tr>    


            <td ><strong><%= link_to inspection_report.inspector, inspection_report_path(inspection_report) %><strong></td>

<!-- <td ><strong><%= link_to inspection_report.date, inspection_report_path(inspection_report) %><strong></td> -->
            <td ><strong><%= inspection_report.date %><strong></td>

            <td><strong><%= button_to 'o', inspection_report_path(inspection_report), :class => "btn btn-link" ,method: :delete %></strong></td>
          </tr>
        <% end %>



</table>

</div></div>