<p id="notice"><%= notice %></p>

<p>
  <strong>Heading:</strong>
  <%= @manhour.heading %>
</p>

<p>
  <strong>Union147:</strong>
  <%= @manhour.union147 %>
</p>

<p>
  <strong>Union15:</strong>
  <%= @manhour.union15 %>
</p>

<p>
  <strong>Union14:</strong>
  <%= @manhour.union15 %>
</p>

<p>
  <strong>Union731:</strong>
  <%= @manhour.union15 %>
</p>

<p>
  <strong>Union3:</strong>
  <%= @manhour.union15 %>
</p>

<%= link_to 'Edit', edit_manhour_path(@manhour) %> |
<%= link_to 'Back', manhours_path %>
