<h1>Project STORY</h1>



<!-- <h3>IMAGES</h3> -->

<strong><div> DAILY TRACK IS DESIGNED TO AUGMENT THE CURRENT PROCESS OF CONSTRUCTION DATA collection.</div></strong>
<strong><div> IT IS TO BE IMPLIMENTED ON THE EAST SIDE ACCESS PROJECT.</div></strong>
<BR>
<strong><div> FEW WORDS ABOUT THE East Side Access...</div></strong>

<!-- <strong><div> DISPLAY ALL OF CONTRACT SPECIFIC IMAGES.</div></strong>
<strong><div> INCLUDES VIDE0S, DIAGRAMS, PHOTOS.</div></strong> -->
<br>
<br>



<%= image_tag("esa_grand_central.PNG", :size => "640x360" )%>
<p><strong>GRAND CENTRAL</strong></p>
<%= image_tag("esa_concourse_scale.PNG", :size => "580x360" )%>
<p><strong>Expansion PLAN</strong></p>

<%= image_tag("esa_scale_cavern.PNG", :size => "580x360" )%>
<p><strong>SCALE/Current CONDITIONS</strong></p>
<%= image_tag("esa_complexity_paper.PNG", :size => "640x360" )%>
<p><strong>CHALLENGE ---> SIZE + COMPLEXITY</strong></p>
<br>
<%= image_tag("CM004_streets.jpg", :size => "520x340" )%>
<%= image_tag("CM013A_Streets.jpg", :size => "520x340" )%>
<br>
<iframe src="//player.vimeo.com/video/100591727" width="740" height="420" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
<p><strong>Information MODELS</strong></p>
<%= image_tag("current_process.PNG", :size => "560x320" )%>
<p><strong>CURRENT</strong></p>
<%= image_tag("ideal_process.PNG", :size => "560x320" )%>
<p><strong>FUTURE</strong></p>

<h5><%= link_to 'Inspection REPORTS', inspection_reports_path%>
	<BR>

<%= link_to 'PROJECT CONTROLLER', root_path%></h5>


