<h1>Export DASHBOARD</h1>

<p><strong>
At the moment DailyTRACK is capable of excepting CSV files, and populating Concrete SUMMARY DB.
</strong> </p>

<br>
<p><strong>
CSV IMPORTER:
</strong> </p>
<%= form_tag import_project_dashboards_path, multipart: true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "Import" %>
<% end %>

<h5><%= link_to 'PROJECT CONTROLLER', root_path%></h5>
<table>
  <tr>
  	<th>Date</th>
    <th>BSL.E.i</th>
     <th>BSL.E.c</th>
     <th>BSL.L.i</th>
     <th>BSL.L.c</th>
    <th helvetica="3"></th>
  </tr>
<% @concrete_summaries.each do |concrete_summary| %>
  <tr>
  	<td><%= concrete_summary.date %></td>
    <td><%= concrete_summary.baseline_early_ind %></td>
    <td><%= concrete_summary.baseline_early_cum %></td>
    <td><%= concrete_summary.baseline_late_ind %></td>
    <td><%= concrete_summary.baseline_late_cum %></td>
  </tr>
<% end %>
</table>


