<h1>Export DASHBOARD</h1>
<br>


<p><strong>
Upload CSV file containing 12 schedule data points.
</strong> </p>

<br>

<%= form_tag import_project_dashboards_path, multipart: true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "Import" , :class => "btn btn-primary" %>
<% end %>




<table class = "table">
  <tr>
  	<th>Date</th>
    <th>Early Date - monthly</th>
    <th>Early Date - cummulative</th>
    <th>Late Date - monthly</th>
    <th>Late Date - cummulative</th>
    <th helvetica="3"></th>
  </tr>
<% @concrete_summaries.each do |concrete_summary| %>
  <tr>
  	<td><%= concrete_summary.date %></td>
    <td><%= concrete_summary.baseline_early_ind %></td>
    <td><%= concrete_summary.baseline_early_cum %></td>
    <td><%= concrete_summary.baseline_late_ind %></td>
    <td><%= concrete_summary.baseline_late_cum %></td>
  </tr>
<% end %>
</table>


