      <!-- Navigation -->
      <div class="container"> 
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <!-- <li><%= link_to 'Concept', project_visuals_path  %></li> -->
                <li><%= link_to 'Inspection Report', inspection_reports_path  if current_user  %></li>  
                <li><%= link_to 'Daily Report', daily_reports_path  if current_user && current_user.admin? %></li>
                <li><%= link_to 'Lead Report', lead_reports_path  if current_user && current_user.admin? %></li>
                <li><%= link_to 'Search', inspections_path  if current_user && current_user.admin? %></li>
                <li><%= link_to 'Profile', users_path  if current_user  %></li>
                <li><%= link_to 'Enter', users_path  if !current_user  %></li>
                <li> <%= button_to "Sign out", destroy_user_session_path , :class => "btn btn-link" , method: :delete  if current_user%></li>
            </ul>
          <h2 ><%= link_to 'Daily Track', root_path%><h2>
        </div>
      </div> 

<h1 class="text-center" >Inspection Reports</h1>
    <div class="text-center">       
          <br>
          <p ><%= image_tag(@user.image.url(:thumb)) %></p>
    </div>

<div class="text-center">
    <%= button_to 'New Report', new_inspection_report_path, :class => "btn btn-primary", :method => :get %>

<h4 class = "text-center" ><u><%=link_to "Current Report" ,inspection_report_path(@inspection_report_current)  %></u></h4>

<div class = "text-center">  
    <u id="flip" class="btn btn-link" ><h4> Check Status</h4> </u>

</div>



<div class='row'>
        <div class ='span4'>
        </div>
<div class ='span4'>
       
  <table class = "table" id = "panel" style=" display: none;" >
          <tr>
            <td >Date</td>
            <td >Status</td>
            <td >Erase</td>
          </tr>
        <% @inspection_reports.reverse_each do |inspection_report| %>
          <tr>    
            <td ><strong><%= link_to inspection_report.date, inspection_report_path(inspection_report) %><strong></td>
    <td ><strong><%= link_to inspection_report.status, inspection_report_path(inspection_report) %><strong></td>


            <td><strong><%= button_to 'o', inspection_report_path(inspection_report), :class => "btn btn-link" ,method: :delete %></strong></td>
          </tr>
        <% end %>
      </table>


</div>


</div>
<br>





</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script type="text/javascript" src="/resource/1358914798000/bootstrap/bootstrap/js/bootstrap.js"></script>


<br>


             <script> 
$(document).ready(function(){
  $("#flip").click(function(){
    $("#panel").slideToggle("slow");

  });
});
</script>

