<h2>New Inspection Report</h2>

<%= form_for @inspection_report do |f| %>
  

  <%= image_tag @user_a.image.url, :size => "250x200" %>
  <br>
   <%= current_user.username %>
  <p>
    <%= f.label :DATE %><br>
    <%= f.date_select :date %>
    

  </p>
 
  <p>
    <%= f.submit 'New Report', class: 'button' %> 
    <!-- Where do I control the submit button is rendered? -->
  </p>
<% end %>
<P><strong><%= link_to 'REPORTS', inspection_reports_path %></P></strong>