<div>        
        <p> 
            <strong>Inspector:</strong>
            <%= @inspection_report.inspector %>
        </p>
        <p> 
            <strong>Role:</strong>
            <%= link_to 'VDC Coordinator', daily_reports_path  if current_user.admin? %>
            <%= link_to 'Inspector', daily_reports_path  if !current_user.admin? %>
        </p>

        <p>
          <strong>Date:</strong>
          <%= @inspection_report.date %>
        </p>
        <%= image_tag(@inspection_report.user.image.url(:thumb)) %>
</div>

<div class='row'>
        <div class ='span3'>
        <h3 >Create Inspection:</h3>
          <%= form_for([@inspection_report, @inspection_report.inspections.build]) do |f| %>   
            <div><%= f.select :heading, options_for_select(['TT', 'L402','GCT1+2_east','GCT1+2 West' ])%></div>
            <div><%= f.select :element, options_for_select(['WALL', 'SLAB','ARCH','INVERT','system' ]) %></div>
            <div><%= f.text_field :start , :value =>'Start' %></div>
            <div><%= f.text_field :finish, :value => 'End',:cols => "10", :rows => "1" %></div>
            <%= f.select :operation, options_for_select(['WP', 'RBR','CON']) %>
            <div><span class="btn btn-file"><%= f.file_field :image %> Image</span></div>
            <br>
          <p><%= f.submit  class: 'btn btn-primary', value: 'Create INSPECTION' %></p>
        <% end %>
      </div>

      <div class ='span3'>
            <h3>Create Note:</h3>
            <%= form_for([@inspection_report, @inspection_report.notes.build]) do |f| %>
                <table>
                <tr>
                <%= f.text_area :observation,  :cols => "80", :rows => "6" %></th>
                </tr>
                </table>  
              <p><%= f.submit class: 'btn btn-primary' , value: 'Create NOTE '%></p>
            <% end %>
      </div>

      <div class ='span5'>
            <h3>Notes:</h3>
            <table>
<tr>
              <% @inspection_report.notes.each do |note| %>
                <%= note.observation %>
                <%= button_to 'o', [note.inspection_report, note],
                  method: :delete ,:class => "btn btn-link",
                  data: { confirm: 'Are you sure?' } %>
                  </tr>
              <% end %>
            </table>
      </div>
</div>


  
<div >
          <h3 > Inspections</h3>
          
          <table class = "table">
            <tr>
              <th>Heading</th>
              <th>Element</th>
              <th>Start</th>
              <th>Finish</th>
              <th>Operation</th>
              <th>Image</th>
              <th>Erase</th>
            </tr>
            <% @inspection_report.inspections.each do |inspection| %>
              <tr>
                <td><%= inspection.heading %></td>
                <td><%= inspection.element %></td>
                <td><%= inspection.start %></td>
                <td><%= inspection.finish %></td>
                <td><%= inspection.operation %></td>
                <td><%= image_tag inspection.image.url(:thumb)  %></td>
                <td><strong><%= button_to 'o', [inspection.inspection_report, inspection],
                           method: :delete,:class => "btn btn-link" ,
                           data: { confirm: 'Are you sure?' } %><strong></td>
              </tr>
            <% end %>
          </table>
</div>
          



        
