
<h1 class="text-center ">Inspection Report</h1> 
<p class="text-center "><%= image_tag(@inspection_report.user.image.url(:thumb)) %></p>
<p class="text-center "><%= @inspection_report.date %></p>
<div>        
  
        <!-- <p> 
             <strong>Name:</strong>
            <%= @user.username%>
        </p> -->
         
<!--    </p>         <strong>Role:</strong>
            <%= link_to 'VDC Coordinator', users_path  if current_user.admin? %>
            <%= link_to 'Inspector', users_path  if !current_user.admin? %>
        </p> -->
        
        <!-- <p>
          <strong>Date:</strong>
          <%= @inspection_report.date %>
        </p> -->
     <!--    <p><%= image_tag(@inspection_report.user.image.url(:thumb)) %></p> -->
</div>




<div class="text-center ">
        <h3 >Create Inspection:</h3>

          <%= form_for([@inspection_report, @inspection_report.inspections.build]) do |f| %>   
            
            <div><%= f.select :heading, options_for_select(['50th Adit',
        '50th Air Plenum','53rd Sump Pump Chamber','55th Ventilation Facility','Assembly Chamber East','Assembly Chamber West',
        'Cross Flue','Cross Passage 2','Cross Passage 4','Cross Passage 5','Cross Passage 6','Cross Passage 7','T301','T302','T303','T304','T401','T402','T403','T404','EB2','EB4','WB1','WB3','GCT3 East Wye','GCT3 West Wye','GCT3 Crossover','GCT4 East Wye','GCT4 West Wye','GCT4 Facility Room','GCT4 Crossover','GCT4 CIR','GCT5 East Wye','GCT5 West Wye','GCT5 Facility Room','GCT5 CIR','GCT5 Transformer Niches' ])%></div>     
            
 

<div ><%= f.select :element, options_for_select(['Invert','Arch','Wall / Sidewall','End wall','Ductbench / Walkway','Slab (Structure)','Backfill','Wall and Arch','Wall and Invert','Interior Wall','Other']) %></div>
           
<div><%= f.select :scope, options_for_select(['SCOPE','CONCRETE', 'REINFORCEMENT','DRAINAGE','SHOTCRETE', 'ELECTRICAL','FINISHES','FIREPROOFING','MASONRY','METALS','SURVEYING','SITE_MAINTANENCE','WATERPROOFING']) %></div>

    <div>
            <div class="CONCRETE" style=" display: none;">
            <%= f.select :operation, options_for_select(['Final Lining','Backfill/Mudslab','Temporary']), {}, { :class => 'concrete' }%>
            </div>
           
            <div class="REINFORCEMENT" style=" display: none;">
            <%= f.select :operation, options_for_select(['Reinforcement']), {}, { :class => 'reinforcement' } %>
            </div>

            <div class="SHOTCRETE" style=" display: none;">
            <%= f.select :operation, options_for_select(['Final Lining-PAC', 'Initial/Smoothening']), {}, { :class => 'shotcrete' } %>
            </div>

            <div class="DRAINAGE" style=" display: none;">
            <%= f.select :operation, options_for_select(['Drainage']), {}, { :class => 'drainage' } %> 
            </div>
            
            <div class="ELECTRICAL" style=" display: none;">
            <%= f.select :operation, options_for_select(['Permanent','Temporary' ]), {}, { :class => 'electrical' } %> 
            </div>

            <div class="FINISHES" style=" display: none;">
            <%= f.select :operation, options_for_select(['Finishes']), {}, { :class => 'finishes' } %> 
            </div>

            <div class="FIREPROOFING" style=" display: none;">
            <%= f.select :operation, options_for_select(['Intumescent(Spray-on)']), {}, { :class => 'fireproofing' } %> 
            </div>

            <div class="MASONRY" style=" display: none;">
            <%= f.select :operation, options_for_select(['Unit Masonry Assemblies(CMU)']), {}, { :class => 'masonry' } %> 
            </div>

            <div class="METALS" style=" display: none;">
            <%= f.select :operation, options_for_select(['Metals']), {}, { :class => 'metals' } %> 
            </div>

            <div class="SURVEYING" style=" display: none;">
            <%= f.select :operation, options_for_select(['Surveying']), {}, { :class => 'surveying' } %> 
            </div>

            <div class="SITE_MAINTANENCE" style=" display: none;">
            <%= f.select :operation, options_for_select(['Housekeeping','Mobilization']), {}, { :class => 'site_maintanence' } %>
            </div>


            <div class="WATERPROOFING" style=" display: none;">
            <%= f.select :operation, options_for_select(['Geotextile','PVC','Water Barrier','Grouting System/BA Anchors']), {}, { :class => 'waterproofing' } %>
            </div>
    </div>

        <div><%= f.text_field :note , :placeholder =>"Notes go here..." %></div>
        <div><%= f.text_field :start , :placeholder =>'Start' %></div>    
        <div><%= f.text_field :finish, :placeholder => 'End',:cols => "10", :rows => "1" %></div>
            
          <div><span class="btn btn-file"><%= f.file_field :image %> Image</span></div>              
          <br>
          <p id ='button'><%= f.submit  class: 'btn btn-primary', value: 'Create INSPECTION' %></p>
          <% end %>
      </div>
    
<style>
    
    #spinner {
    position: fixed;
    /* center the div */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;} 
</style>

      <%= image_tag 'loader1.gif', :id => 'spinner', :style => "display:none " %>

            <script>
              $("#button").click(function(){
                $("#spinner").show();
              });
            </script>

 <script>
    $( document ).ready(function() {
    $('select#inspection_scope').on( 'change', function()
    {
     var v = this.value;
      if ($(this).val() == 'REINFORCEMENT') {
            $('.CONCRETE').hide();
            $('.REINFORCEMENT').show();
            $('.SHOTCRETE').hide();
            $('.DRAINAGE').hide();
            $('.ELECTRICAL').hide();
            $('.FINISHES').hide();
            $('.FIREPROOFING').hide();
            $('.MASONRY').hide();
            $('.METALS').hide();
            $('.SURVEYING').hide();
            $('.SITE_MAINTANENCE').hide();
            $('.WATERPROOFING').hide();
            $('.concrete').prop('disabled', true);
            $('.reinforcement').prop('disabled', false);
            $('.drainage').prop('disabled', true);
            $('.shotcrete').prop('disabled', true);
            $('.electrical').prop('disabled', true);
            $('.finishes').prop('disabled', true);
            $('.fireproofing').prop('disabled', true);
            $('.masonry').prop('disabled', true);
            $('.metals').prop('disabled', true);
            $('.surveying').prop('disabled', true);
            $('.site_maintanence').prop('disabled', true);
            $('.waterproofing').prop('disabled', true);
        }
            else if ($(this).val() == 'SHOTCRETE') {
            $('.CONCRETE').hide();
            $('.REINFORCEMENT').hide();
            $('.SHOTCRETE').show();
            $('.DRAINAGE').hide();
            $('.ELECTRICAL').hide();
            $('.FINISHES').hide();
            $('.FIREPROOFING').hide();
            $('.MASONRY').hide();
            $('.METALS').hide();
            $('.SURVEYING').hide();
            $('.SITE_MAINTANENCE').hide();
            $('.WATERPROOFING').hide();
            $('.concrete').prop('disabled', true);
            $('.reinforcement').prop('disabled', true);
            $('.drainage').prop('disabled', true);
            $('.shotcrete').prop('disabled', false);
            $('.electrical').prop('disabled', true);
            $('.finishes').prop('disabled', true);
            $('.fireproofing').prop('disabled', true);
            $('.masonry').prop('disabled', true);
            $('.metals').prop('disabled', true);
            $('.surveying').prop('disabled', true);
            $('.site_maintanence').prop('disabled', true);
            $('.waterproofing').prop('disabled', true);
        }
            else if ($(this).val() == 'DRAINAGE') {
            $('.CONCRETE').hide();
            $('.REINFORCEMENT').hide();
            $('.SHOTCRETE').hide();
            $('.DRAINAGE').show();
            $('.ELECTRICAL').hide();
            $('.FINISHES').hide();
            $('.FIREPROOFING').hide();
            $('.MASONRY').hide();
            $('.METALS').hide();
            $('.SURVEYING').hide();
            $('.SITE_MAINTANENCE').hide();
            $('.WATERPROOFING').hide();
            $('.concrete').prop('disabled', true);
            $('.reinforcement').prop('disabled', true);
            $('.drainage').prop('disabled', false);
            $('.shotcrete').prop('disabled', true);
            $('.electrical').prop('disabled', true);
            $('.finishes').prop('disabled', true);
            $('.fireproofing').prop('disabled', true);
            $('.masonry').prop('disabled', true);
            $('.metals').prop('disabled', true);
            $('.surveying').prop('disabled', true);
            $('.site_maintanence').prop('disabled', true);
            $('.waterproofing').prop('disabled', true);
        }
            else if ($(this).val() == 'ELECTRICAL') {
            $('.CONCRETE').hide();
            $('.REINFORCEMENT').hide();
            $('.SHOTCRETE').hide();
            $('.DRAINAGE').hide();
            $('.ELECTRICAL').show();
            $('.FINISHES').hide();
            $('.FIREPROOFING').hide();
            $('.MASONRY').hide();
            $('.METALS').hide();
            $('.SURVEYING').hide();
            $('.SITE_MAINTANENCE').hide();
            $('.WATERPROOFING').hide();
            $('.concrete').prop('disabled', true);
            $('.reinforcement').prop('disabled', true);
            $('.drainage').prop('disabled', true);
            $('.shotcrete').prop('disabled', true);
            $('.electrical').prop('disabled', false);
            $('.finishes').prop('disabled', true);
            $('.fireproofing').prop('disabled', true);
            $('.masonry').prop('disabled', true);
            $('.metals').prop('disabled', true);
            $('.surveying').prop('disabled', true);
            $('.site_maintanence').prop('disabled', true);
            $('.waterproofing').prop('disabled', true);
        }
            else if ($(this).val() == 'FINISHES') {
            $('.CONCRETE').hide();
            $('.REINFORCEMENT').hide();
            $('.SHOTCRETE').hide();
            $('.DRAINAGE').hide();
            $('.ELECTRICAL').hide();
            $('.FINISHES').show();
            $('.FIREPROOFING').hide();
            $('.MASONRY').hide();
            $('.METALS').hide();
            $('.SURVEYING').hide();
            $('.SITE_MAINTANENCE').hide();
            $('.WATERPROOFING').hide();
            $('.concrete').prop('disabled', true);
            $('.reinforcement').prop('disabled', true);
            $('.drainage').prop('disabled', true);
            $('.shotcrete').prop('disabled', true);
            $('.electrical').prop('disabled', true);
            $('.finishes').prop('disabled', false);
            $('.fireproofing').prop('disabled', true);
            $('.masonry').prop('disabled', true);
            $('.metals').prop('disabled', true);
            $('.surveying').prop('disabled', true);
            $('.site_maintanence').prop('disabled', true);
            $('.waterproofing').prop('disabled', true);
        }
            else if ($(this).val() == 'FIREPROOFING') {
            $('.CONCRETE').hide();
            $('.REINFORCEMENT').hide();
            $('.SHOTCRETE').hide();
            $('.DRAINAGE').hide();
            $('.ELECTRICAL').hide();
            $('.FINISHES').hide();
            $('.FIREPROOFING').show();
            $('.MASONRY').hide();
            $('.METALS').hide();
            $('.SURVEYING').hide();
            $('.SITE_MAINTANENCE').hide();
            $('.WATERPROOFING').hide();
            $('.concrete').prop('disabled', true);
            $('.reinforcement').prop('disabled', true);
            $('.drainage').prop('disabled', true);
            $('.shotcrete').prop('disabled', true);
            $('.electrical').prop('disabled', true);
            $('.finishes').prop('disabled', true);
            $('.fireproofing').prop('disabled', false);
            $('.masonry').prop('disabled', true);
            $('.metals').prop('disabled', true);
            $('.surveying').prop('disabled', true);
            $('.site_maintanence').prop('disabled', true);
            $('.waterproofing').prop('disabled', true);
        }
            else if ($(this).val() == 'MASONRY') {
            $('.CONCRETE').hide();
            $('.REINFORCEMENT').hide();
            $('.SHOTCRETE').hide();
            $('.DRAINAGE').hide();
            $('.ELECTRICAL').hide();
            $('.FINISHES').hide();
            $('.FIREPROOFING').hide();
            $('.MASONRY').show();
            $('.METALS').hide();
            $('.SURVEYING').hide();
            $('.SITE_MAINTANENCE').hide();
            $('.WATERPROOFING').hide();
            $('.concrete').prop('disabled', true);
            $('.reinforcement').prop('disabled', true);
            $('.drainage').prop('disabled', true);
            $('.shotcrete').prop('disabled', true);
            $('.electrical').prop('disabled', true);
            $('.finishes').prop('disabled', true);
            $('.fireproofing').prop('disabled', true);
            $('.masonry').prop('disabled', false);
            $('.metals').prop('disabled', true);
            $('.surveying').prop('disabled', true);
            $('.site_maintanence').prop('disabled', true);
            $('.waterproofing').prop('disabled', true);
        }
            else if ($(this).val() == 'METALS') {
            $('.CONCRETE').hide();
            $('.REINFORCEMENT').hide();
            $('.SHOTCRETE').hide();
            $('.DRAINAGE').hide();
            $('.ELECTRICAL').hide();
            $('.FINISHES').hide();
            $('.FIREPROOFING').hide();
            $('.MASONRY').hide();
            $('.METALS').show();
            $('.SURVEYING').hide();
            $('.SITE_MAINTANENCE').hide();
            $('.WATERPROOFING').hide();
            $('.concrete').prop('disabled', true);
            $('.reinforcement').prop('disabled', true);
            $('.drainage').prop('disabled', true);
            $('.shotcrete').prop('disabled', true);
            $('.electrical').prop('disabled', true);
            $('.finishes').prop('disabled', true);
            $('.fireproofing').prop('disabled', true);
            $('.masonry').prop('disabled', true);
            $('.metals').prop('disabled', false);
            $('.surveying').prop('disabled', true);
            $('.site_maintanence').prop('disabled', true);
            $('.waterproofing').prop('disabled', true);
        }
            else if ($(this).val() == 'SURVEYING') {
            $('.CONCRETE').hide();
            $('.REINFORCEMENT').hide();
            $('.SHOTCRETE').hide();
            $('.DRAINAGE').hide();
            $('.ELECTRICAL').hide();
            $('.FINISHES').hide();
            $('.FIREPROOFING').hide();
            $('.MASONRY').hide();
            $('.METALS').hide();
            $('.SURVEYING').show();
            $('.SITE_MAINTANENCE').hide();
            $('.WATERPROOFING').hide();
            $('.concrete').prop('disabled', true);
            $('.reinforcement').prop('disabled', true);
            $('.drainage').prop('disabled', true);
            $('.shotcrete').prop('disabled', true);
            $('.electrical').prop('disabled', true);
            $('.finishes').prop('disabled', true);
            $('.fireproofing').prop('disabled', true);
            $('.masonry').prop('disabled', true);
            $('.metals').prop('disabled', true);
            $('.surveying').prop('disabled', false);
            $('.site_maintanence').prop('disabled', true);
            $('.waterproofing').prop('disabled', true);
        }
            else if ($(this).val() == 'SITE_MAINTANENCE') {
            $('.CONCRETE').hide();
            $('.REINFORCEMENT').hide();
            $('.SHOTCRETE').hide();
            $('.DRAINAGE').hide();
            $('.ELECTRICAL').hide();
            $('.FINISHES').hide();
            $('.FIREPROOFING').hide();
            $('.MASONRY').hide();
            $('.METALS').hide();
            $('.SURVEYING').hide();
            $('.SITE_MAINTANENCE').show();
            $('.WATERPROOFING').hide();
            $('.concrete').prop('disabled', true);
            $('.reinforcement').prop('disabled', true);
            $('.drainage').prop('disabled', true);
            $('.shotcrete').prop('disabled', true);
            $('.electrical').prop('disabled', true);
            $('.finishes').prop('disabled', true);
            $('.fireproofing').prop('disabled', true);
            $('.masonry').prop('disabled', true);
            $('.metals').prop('disabled', true);
            $('.surveying').prop('disabled', true);
            $('.site_maintanence').prop('disabled', false);
            $('.waterproofing').prop('disabled', true);
        }
            else if ($(this).val() == 'WATERPROOFING') {
            $('.CONCRETE').hide();
            $('.REINFORCEMENT').hide();
            $('.SHOTCRETE').hide();
            $('.DRAINAGE').hide();
            $('.ELECTRICAL').hide();
            $('.FINISHES').hide();
            $('.FIREPROOFING').hide();
            $('.MASONRY').hide();
            $('.METALS').hide();
            $('.SURVEYING').hide();
            $('.SITE_MAINTANENCE').hide();
            $('.WATERPROOFING').show();
            $('.concrete').prop('disabled', true);
            $('.reinforcement').prop('disabled', true);
            $('.drainage').prop('disabled', true);
            $('.shotcrete').prop('disabled', true);
            $('.electrical').prop('disabled', true);
            $('.finishes').prop('disabled', true);
            $('.fireproofing').prop('disabled', true);
            $('.masonry').prop('disabled', true);
            $('.metals').prop('disabled', true);
            $('.surveying').prop('disabled', true);
            $('.site_maintanence').prop('disabled', true);
            $('.waterproofing').prop('disabled', false);
     
        }
            else if($(this).val() == 'CONCRETE') {
            $('.CONCRETE').show();
            $('.REINFORCEMENT').hide();
            $('.SHOTCRETE').hide();
            $('.DRAINAGE').hide();
            $('.ELECTRICAL').hide();
            $('.FINISHES').hide();
            $('.FIREPROOFING').hide();
            $('.MASONRY').hide();
            $('.METALS').hide();
            $('.SURVEYING').hide();
            $('.SITE_MAINTANENCE').hide();
            $('.WATERPROOFING').hide();  
            $('.concrete').prop('disabled', false);
            $('.reinforcement').prop('disabled', true);
            $('.drainage').prop('disabled', true);
            $('.shotcrete').prop('disabled', true);
            $('.electrical').prop('disabled', true);
            $('.finishes').prop('disabled', true);
            $('.fireproofing').prop('disabled', true);
            $('.masonry').prop('disabled', true);
            $('.metals').prop('disabled', true);
            $('.surveying').prop('disabled', true);
            $('.site_maintanence').prop('disabled', true);
            $('.waterproofing').prop('disabled', true);
         
        }
            else{
            $('.CONCRETE').hide();
            $('.REINFORCEMENT').hide();
            $('.SHOTCRETE').hide();
            $('.DRAINAGE').hide();
            $('.ELECTRICAL').hide();
            $('.FINISHES').hide();
            $('.FIREPROOFING').hide();
            $('.MASONRY').hide();
            $('.METALS').hide();
            $('.SURVEYING').hide();
            $('.SITE_MAINTANENCE').hide();
            $('.WATERPROOFING').hide();
        }
       });
    });
 
 </script>


      
</div>


  
<div >
          <h3 > Inspections</h3>
          
          <table class = "table">
            <tr>
              <th>Heading</th>
              <th>Element</th>
              <th>Start</th>
              <th>Finish</th>
              <th>Scope</th>
              <th>Operation</th>
              <th>Notes</th>
              <th>Image</th>
              <th>Erase</th>
            </tr>
            <% @inspection_report.inspections.each do |inspection| %>
              <tr>
                <td><%= inspection.heading %></td>
                <td><%= inspection.element %></td>
                <td><%= inspection.start %></td>
                <td><%= inspection.finish %></td>
                <td><%= inspection.scope %></td>
                <td><%= inspection.operation %></td>
                <td><%= inspection.note %></td>
                <td><%= image_tag inspection.image.url(:thumb)  %></td>

                <td><strong><%= button_to 'o', [inspection.inspection_report, inspection],
                           method: :delete,:class => "btn btn-link" ,
                           data: { confirm: 'Are you sure?' } %><strong></td>
              </tr>
            <% end %>
          </table>

</div>
         


      <div class="text-center " >
            <h3>Inspection Report Note:</h3>
            <%= form_for([@inspection_report, @inspection_report.notes.build]) do |f| %>
                <table>
                <tr>
                <%= f.text_area :observation,  :cols => "50", :rows => "10" %></th>
                </tr>
                </table>  
              <p><%= f.submit class: 'btn btn-primary' , value: 'Create NOTE '%></p>
            <% end %>
      </div>

        <div >
                  <h3>Notes:</h3>
            <table>
                  <tr>
                    <% @inspection_report.notes.each do |note| %>
                    <%= note.observation %>
                    <%= button_to 'o', [note.inspection_report, note],
                    method: :delete ,:class => "btn btn-link",
                    data: { confirm: 'Are you sure?' } %>
                  </tr>
              <% end %>
            </table>
            </div>




        
