<h1>Project DASHBOARD</h1>
<div id="container" style="width:100%; height:400px;"></div>
<div id="container1" style="width:100%; height:400px;"></div>


<script>
var array = <%=@baseline_early_ind_arr %>
var array1 = <%=@baseline_late_ind_arr %>

$(function () {
        $('#container').highcharts({
          chart: {
                type: 'line'
            },
            title: {
                text: 'Concrete Curve - Early',
                x: -20 //center
            },
            subtitle: {
                text: 'CM005 Contract',
                x: -20
            },
            xAxis: {
               type: 'datetime', 
            },
            yAxis: {
                title: {
                    text: 'Concrete (Cubic Y)'
                },
                plotLines: 
                [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: 'Cubic Y'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Baseline_early',
                pointInterval: <%= 1.month*1000 %>,
                pointStart: Date.UTC(2013, 11, 01),
                //pointStart: <%= 3.weeks.ago.to_i*1000 %> ----- NOT WORKING, starts the graph with the the
                data: array 
            }, 

                {
                pointInterval: <%= 1.month*1000 %>,
                pointStart: Date.UTC(2013, 11, 01),
                name: 'Baseline_late',
                data: array1,
                color: '#848484'
            },

            ]
        });
    });

$(function () {
        $('#container1').highcharts({
          chart: {
                type: 'column'
            },

            title: {
                text: 'Concrete Curve  Late',
                x: -20 //center
            },
            subtitle: {
                text: 'CM005 Contract',
                x: -20
            },
            xAxis: {
               type: 'datetime',
            },
            yAxis: {
                title: {
                    text: 'Concrete (Cubic Y)'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: 'Cubic Y'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                pointInterval: <%= 1.month*1000 %>,
                pointStart: Date.UTC(2013, 11, 01),
                name: 'Baseline_late',
                data: array1,
             color: '#848484'
            },

            {
                pointInterval: <%= 1.month*1000 %>,
                pointStart: Date.UTC(2013, 11, 01),
                name: 'Baseline_early',
                data: array,
               
            },

            ]
        });
    });
</script>

<strong>
<p>
Contract Progress DATA
</p>
</strong>
<%= image_tag("esa_cm005_weekly_waterproofing_progress.jpg", :size => "500x350" )%>
<%= image_tag("esa_cm005_weekly_concrete_progress.jpg", :size => "500x350" )%>
<br>
<p>
<strong>
Current Concrete CURVES
</strong>
</p>
<%= image_tag("esa_cm005_concrete_curves.jpg", :size => "1050x700" )%>
<br>

<iframe src="//player.vimeo.com/video/100739439" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
<iframe src="//player.vimeo.com/video/100747259" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p>


<h5><%= link_to 'PROJECT CONTROLLER', root_path%></h5>





