<h1>Project DASHBOARDS</h1>
<h5><%= link_to 'PROJECT CONTROLLER', root_path%></h5>

<div id="container" style="width:100%; height:400px;"></div>


<script>$(function () { 
    $('#container').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: 'Baseline Curves'
        },
        xAxis: {
            type: "datetime"
        },
        yAxis: {
            title: {
                text: 'Cost'
            }
        },
        series: [{
          
            data: [1, 0, 4,3,7,4,3,5,4,3,2,4,1,7]

        }, 

        {

        }]
    });
});
</script>

<%= form_tag import_project_dashboards_path, multipart: true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "Import" %>
<% end %>

<strong>
<p>
UPLOADED FILE DATA
</p>
</strong>

<table>
  <tr>
  	<th>Date</th>
    <th>BSL.E.i</th>
     <th>BSL.E.c</th>
     <th>BSL.L.i</th>
     <th>BSL.L.c</th>


    <th helvetica="3"></th>
  </tr>
 
<% @concrete_summaries.each do |concrete_summary| %>
  <tr>
  	<td><%= concrete_summary.date %></td>
    <td><%= concrete_summary.baseline_early_ind %></td>
    <td><%= concrete_summary.baseline_early_cum %></td>
    <td><%= concrete_summary.baseline_late_ind %></td>
    <td><%= concrete_summary.baseline_late_cum %></td>
    
  </tr>
<% end %>
</table>




