<div class="container">
<div class="row">
<div class="span4">
      <h2><div class ="text center"> Original:</div></h2>
<%= form_for(@inspection) do |f| %>
  <p>
    <%= f.label :heading %><br>
    <%= f.text_field :heading %>
  </p>

  <p>
    <%= f.label :element %><br>
    <%= f.text_field :element %>
  </p>
   <p>
    <%= f.label :scope %><br>
    <%= f.text_field :scope %>
  </p>

  <p>
    <%= f.label :operation %><br>
    <%= f.text_field :operation %>
  </p>

 <p>
    <%= f.label :note %><br>
    <%= f.text_area :note, :cols => "10", :rows => "3"%>
  </p>
  <p>
    <%= f.label :start %><br>
    <%= f.text_field :start %>
  </p>
  <p>
    <%= f.label :finish %><br>
    <%= f.text_field :finish %>
  </p>


<% end %>
</div>

<div class="span4">
   <h2><div class ="text center"> Update:</div></h2>
<%= form_for(@inspection) do |f| %>
    <%= f.label :heading %><br>
<div><%= f.select :heading, options_for_select(['50th Adit',
            '50th Air Plenum','53rd Sump Pump Chamber','55th Ventilation Facility','Assembly Chamber East','Assembly Chamber West','Cross Flue','Cross Passage 2','Cross Passage 4','Cross Passage 5','Cross Passage 6','Cross Passage 7','T301','T302','T303','T304','T401','T402','T403','T404','EB2','EB4','WB1','WB3','GCT3 East Wye','GCT3 West Wye','GCT3 Crossover','GCT4 East Wye','GCT4 West Wye','GCT4 Facility Room','GCT4 Crossover','GCT4 CIR','GCT5 East Wye','GCT5 West Wye','GCT5 Facility Room','GCT5 CIR','GCT5 Transformer Niches' ])%></div>     
             <%= f.label :element %><br>
            <div ><%= f.select :element, options_for_select(['Invert','Arch','Wall / Sidewall','End wall','Ductbench / Walkway','Slab (Structure)','Backfill','Wall and Arch','Wall and Invert','Interior Wall','Other']) %></div>
               <%= f.label :scope %>
            <div><%= f.select :scope, options_for_select(['SCOPE','CONCRETE', 'REINFORCEMENT','DRAINAGE','SHOTCRETE', 'ELECTRICAL','FINISHES','FIREPROOFING','MASONRY','METALS','SURVEYING','SITE_MAINTANENCE','WATERPROOFING']) %></div>

    <br> 
            <div>


                <div class="CONCRETE" style=" display: none;">
                <%= f.select :operation, options_for_select(['Final Lining','Backfill/Mudslab','Temporary']), {}, { :class => 'concrete' }%>
                </div>          
                <div class="REINFORCEMENT" style=" display: none;">
                <%= f.select :operation, options_for_select(['Reinforcement']), {}, { :class => 'reinforcement' } %>
                </div>
                <div class="SHOTCRETE" style=" display: none;">
                <%= f.select :operation, options_for_select(['Final Lining-PAC', 'Initial/Smoothening']), {}, { :class => 'shotcrete' } %>
                </div>
                <div class="DRAINAGE" style=" display: none;">
                <%= f.select :operation, options_for_select(['Drainage']), {}, { :class => 'drainage' } %> 
                </div>           
                <div class="ELECTRICAL" style=" display: none;">
                <%= f.select :operation, options_for_select(['Permanent','Temporary' ]), {}, { :class => 'electrical' } %> 
                </div>
                <div class="FINISHES" style=" display: none;">
                <%= f.select :operation, options_for_select(['Finishes']), {}, { :class => 'finishes' } %> 
                </div>
                <div class="FIREPROOFING" style=" display: none;">
                <%= f.select :operation, options_for_select(['Intumescent(Spray-on)']), {}, { :class => 'fireproofing' } %> 
                </div>
                <div class="MASONRY" style=" display: none;">
                <%= f.select :operation, options_for_select(['Unit Masonry Assemblies(CMU)']), {}, { :class => 'masonry' } %> 
                </div>
                <div class="METALS" style=" display: none;">
                <%= f.select :operation, options_for_select(['Metals']), {}, { :class => 'metals' } %> 
                </div>
                <div class="SURVEYING" style=" display: none;">
                <%= f.select :operation, options_for_select(['Surveying']), {}, { :class => 'surveying' } %> 
                </div>
                <div class="SITE_MAINTANENCE" style=" display: none;">
                <%= f.select :operation, options_for_select(['Housekeeping','Mobilization']), {}, { :class => 'site_maintanence' } %>
                </div>
                <div class="WATERPROOFING" style=" display: none;">
                <%= f.select :operation, options_for_select(['Geotextile','PVC','Water Barrier','Grouting System/BA Anchors']), {}, { :class => 'waterproofing' } %>
                </div>
            </div>
    <%= f.label :note %><br>
            <div><%= f.text_area :note , :placeholder =>"Notes go here...", :cols => "10", :rows => "3" %></div>
                <%= f.label :start %><br>
            <div><%= f.text_field :start , :placeholder =>'Start Station' %></div>    
                <%= f.label :finish %><br>
            <div><%= f.text_field :finish, :placeholder => 'End Station',:cols => "10", :rows => "1" %></div>
            <p id ='button'><%= f.submit  class: 'btn btn-primary', value: 'Update INSPECTION' %></p>
<% end %>
</div>
<br>

<h3><u><%= link_to 'Back to the Report', inspection_report_path(@inspection_report_current) %> </h3></u>





<script>
  $("#button").click(function(){
    $("#spinner").show();
  });

  $(".image").click(function(){
    $(".image").hide();
  });

    $( document ).ready(function() {
    $('select#inspection_scope').on( 'change', function()
    {
     var v = this.value;
      if ($(this).val() == 'REINFORCEMENT') {
            $('.CONCRETE').hide();
            $('.REINFORCEMENT').show();
            $('.SHOTCRETE').hide();
            $('.DRAINAGE').hide();
            $('.ELECTRICAL').hide();
            $('.FINISHES').hide();
            $('.FIREPROOFING').hide();
            $('.MASONRY').hide();
            $('.METALS').hide();
            $('.SURVEYING').hide();
            $('.SITE_MAINTANENCE').hide();
            $('.WATERPROOFING').hide();
            $('.concrete').prop('disabled', true);
            $('.reinforcement').prop('disabled', false);
            $('.drainage').prop('disabled', true);
            $('.shotcrete').prop('disabled', true);
            $('.electrical').prop('disabled', true);
            $('.finishes').prop('disabled', true);
            $('.fireproofing').prop('disabled', true);
            $('.masonry').prop('disabled', true);
            $('.metals').prop('disabled', true);
            $('.surveying').prop('disabled', true);
            $('.site_maintanence').prop('disabled', true);
            $('.waterproofing').prop('disabled', true);
        }
            else if ($(this).val() == 'SHOTCRETE') {
            $('.CONCRETE').hide();
            $('.REINFORCEMENT').hide();
            $('.SHOTCRETE').show();
            $('.DRAINAGE').hide();
            $('.ELECTRICAL').hide();
            $('.FINISHES').hide();
            $('.FIREPROOFING').hide();
            $('.MASONRY').hide();
            $('.METALS').hide();
            $('.SURVEYING').hide();
            $('.SITE_MAINTANENCE').hide();
            $('.WATERPROOFING').hide();
            $('.concrete').prop('disabled', true);
            $('.reinforcement').prop('disabled', true);
            $('.drainage').prop('disabled', true);
            $('.shotcrete').prop('disabled', false);
            $('.electrical').prop('disabled', true);
            $('.finishes').prop('disabled', true);
            $('.fireproofing').prop('disabled', true);
            $('.masonry').prop('disabled', true);
            $('.metals').prop('disabled', true);
            $('.surveying').prop('disabled', true);
            $('.site_maintanence').prop('disabled', true);
            $('.waterproofing').prop('disabled', true);
        }
            else if ($(this).val() == 'DRAINAGE') {
            $('.CONCRETE').hide();
            $('.REINFORCEMENT').hide();
            $('.SHOTCRETE').hide();
            $('.DRAINAGE').show();
            $('.ELECTRICAL').hide();
            $('.FINISHES').hide();
            $('.FIREPROOFING').hide();
            $('.MASONRY').hide();
            $('.METALS').hide();
            $('.SURVEYING').hide();
            $('.SITE_MAINTANENCE').hide();
            $('.WATERPROOFING').hide();
            $('.concrete').prop('disabled', true);
            $('.reinforcement').prop('disabled', true);
            $('.drainage').prop('disabled', false);
            $('.shotcrete').prop('disabled', true);
            $('.electrical').prop('disabled', true);
            $('.finishes').prop('disabled', true);
            $('.fireproofing').prop('disabled', true);
            $('.masonry').prop('disabled', true);
            $('.metals').prop('disabled', true);
            $('.surveying').prop('disabled', true);
            $('.site_maintanence').prop('disabled', true);
            $('.waterproofing').prop('disabled', true);
        }
            else if ($(this).val() == 'ELECTRICAL') {
            $('.CONCRETE').hide();
            $('.REINFORCEMENT').hide();
            $('.SHOTCRETE').hide();
            $('.DRAINAGE').hide();
            $('.ELECTRICAL').show();
            $('.FINISHES').hide();
            $('.FIREPROOFING').hide();
            $('.MASONRY').hide();
            $('.METALS').hide();
            $('.SURVEYING').hide();
            $('.SITE_MAINTANENCE').hide();
            $('.WATERPROOFING').hide();
            $('.concrete').prop('disabled', true);
            $('.reinforcement').prop('disabled', true);
            $('.drainage').prop('disabled', true);
            $('.shotcrete').prop('disabled', true);
            $('.electrical').prop('disabled', false);
            $('.finishes').prop('disabled', true);
            $('.fireproofing').prop('disabled', true);
            $('.masonry').prop('disabled', true);
            $('.metals').prop('disabled', true);
            $('.surveying').prop('disabled', true);
            $('.site_maintanence').prop('disabled', true);
            $('.waterproofing').prop('disabled', true);
        }
            else if ($(this).val() == 'FINISHES') {
            $('.CONCRETE').hide();
            $('.REINFORCEMENT').hide();
            $('.SHOTCRETE').hide();
            $('.DRAINAGE').hide();
            $('.ELECTRICAL').hide();
            $('.FINISHES').show();
            $('.FIREPROOFING').hide();
            $('.MASONRY').hide();
            $('.METALS').hide();
            $('.SURVEYING').hide();
            $('.SITE_MAINTANENCE').hide();
            $('.WATERPROOFING').hide();
            $('.concrete').prop('disabled', true);
            $('.reinforcement').prop('disabled', true);
            $('.drainage').prop('disabled', true);
            $('.shotcrete').prop('disabled', true);
            $('.electrical').prop('disabled', true);
            $('.finishes').prop('disabled', false);
            $('.fireproofing').prop('disabled', true);
            $('.masonry').prop('disabled', true);
            $('.metals').prop('disabled', true);
            $('.surveying').prop('disabled', true);
            $('.site_maintanence').prop('disabled', true);
            $('.waterproofing').prop('disabled', true);
        }
            else if ($(this).val() == 'FIREPROOFING') {
            $('.CONCRETE').hide();
            $('.REINFORCEMENT').hide();
            $('.SHOTCRETE').hide();
            $('.DRAINAGE').hide();
            $('.ELECTRICAL').hide();
            $('.FINISHES').hide();
            $('.FIREPROOFING').show();
            $('.MASONRY').hide();
            $('.METALS').hide();
            $('.SURVEYING').hide();
            $('.SITE_MAINTANENCE').hide();
            $('.WATERPROOFING').hide();
            $('.concrete').prop('disabled', true);
            $('.reinforcement').prop('disabled', true);
            $('.drainage').prop('disabled', true);
            $('.shotcrete').prop('disabled', true);
            $('.electrical').prop('disabled', true);
            $('.finishes').prop('disabled', true);
            $('.fireproofing').prop('disabled', false);
            $('.masonry').prop('disabled', true);
            $('.metals').prop('disabled', true);
            $('.surveying').prop('disabled', true);
            $('.site_maintanence').prop('disabled', true);
            $('.waterproofing').prop('disabled', true);
        }
            else if ($(this).val() == 'MASONRY') {
            $('.CONCRETE').hide();
            $('.REINFORCEMENT').hide();
            $('.SHOTCRETE').hide();
            $('.DRAINAGE').hide();
            $('.ELECTRICAL').hide();
            $('.FINISHES').hide();
            $('.FIREPROOFING').hide();
            $('.MASONRY').show();
            $('.METALS').hide();
            $('.SURVEYING').hide();
            $('.SITE_MAINTANENCE').hide();
            $('.WATERPROOFING').hide();
            $('.concrete').prop('disabled', true);
            $('.reinforcement').prop('disabled', true);
            $('.drainage').prop('disabled', true);
            $('.shotcrete').prop('disabled', true);
            $('.electrical').prop('disabled', true);
            $('.finishes').prop('disabled', true);
            $('.fireproofing').prop('disabled', true);
            $('.masonry').prop('disabled', false);
            $('.metals').prop('disabled', true);
            $('.surveying').prop('disabled', true);
            $('.site_maintanence').prop('disabled', true);
            $('.waterproofing').prop('disabled', true);
        }
            else if ($(this).val() == 'METALS') {
            $('.CONCRETE').hide();
            $('.REINFORCEMENT').hide();
            $('.SHOTCRETE').hide();
            $('.DRAINAGE').hide();
            $('.ELECTRICAL').hide();
            $('.FINISHES').hide();
            $('.FIREPROOFING').hide();
            $('.MASONRY').hide();
            $('.METALS').show();
            $('.SURVEYING').hide();
            $('.SITE_MAINTANENCE').hide();
            $('.WATERPROOFING').hide();
            $('.concrete').prop('disabled', true);
            $('.reinforcement').prop('disabled', true);
            $('.drainage').prop('disabled', true);
            $('.shotcrete').prop('disabled', true);
            $('.electrical').prop('disabled', true);
            $('.finishes').prop('disabled', true);
            $('.fireproofing').prop('disabled', true);
            $('.masonry').prop('disabled', true);
            $('.metals').prop('disabled', false);
            $('.surveying').prop('disabled', true);
            $('.site_maintanence').prop('disabled', true);
            $('.waterproofing').prop('disabled', true);
        }
            else if ($(this).val() == 'SURVEYING') {
            $('.CONCRETE').hide();
            $('.REINFORCEMENT').hide();
            $('.SHOTCRETE').hide();
            $('.DRAINAGE').hide();
            $('.ELECTRICAL').hide();
            $('.FINISHES').hide();
            $('.FIREPROOFING').hide();
            $('.MASONRY').hide();
            $('.METALS').hide();
            $('.SURVEYING').show();
            $('.SITE_MAINTANENCE').hide();
            $('.WATERPROOFING').hide();
            $('.concrete').prop('disabled', true);
            $('.reinforcement').prop('disabled', true);
            $('.drainage').prop('disabled', true);
            $('.shotcrete').prop('disabled', true);
            $('.electrical').prop('disabled', true);
            $('.finishes').prop('disabled', true);
            $('.fireproofing').prop('disabled', true);
            $('.masonry').prop('disabled', true);
            $('.metals').prop('disabled', true);
            $('.surveying').prop('disabled', false);
            $('.site_maintanence').prop('disabled', true);
            $('.waterproofing').prop('disabled', true);
        }
            else if ($(this).val() == 'SITE_MAINTANENCE') {
            $('.CONCRETE').hide();
            $('.REINFORCEMENT').hide();
            $('.SHOTCRETE').hide();
            $('.DRAINAGE').hide();
            $('.ELECTRICAL').hide();
            $('.FINISHES').hide();
            $('.FIREPROOFING').hide();
            $('.MASONRY').hide();
            $('.METALS').hide();
            $('.SURVEYING').hide();
            $('.SITE_MAINTANENCE').show();
            $('.WATERPROOFING').hide();
            $('.concrete').prop('disabled', true);
            $('.reinforcement').prop('disabled', true);
            $('.drainage').prop('disabled', true);
            $('.shotcrete').prop('disabled', true);
            $('.electrical').prop('disabled', true);
            $('.finishes').prop('disabled', true);
            $('.fireproofing').prop('disabled', true);
            $('.masonry').prop('disabled', true);
            $('.metals').prop('disabled', true);
            $('.surveying').prop('disabled', true);
            $('.site_maintanence').prop('disabled', false);
            $('.waterproofing').prop('disabled', true);
        }
            else if ($(this).val() == 'WATERPROOFING') {
            $('.CONCRETE').hide();
            $('.REINFORCEMENT').hide();
            $('.SHOTCRETE').hide();
            $('.DRAINAGE').hide();
            $('.ELECTRICAL').hide();
            $('.FINISHES').hide();
            $('.FIREPROOFING').hide();
            $('.MASONRY').hide();
            $('.METALS').hide();
            $('.SURVEYING').hide();
            $('.SITE_MAINTANENCE').hide();
            $('.WATERPROOFING').show();
            $('.concrete').prop('disabled', true);
            $('.reinforcement').prop('disabled', true);
            $('.drainage').prop('disabled', true);
            $('.shotcrete').prop('disabled', true);
            $('.electrical').prop('disabled', true);
            $('.finishes').prop('disabled', true);
            $('.fireproofing').prop('disabled', true);
            $('.masonry').prop('disabled', true);
            $('.metals').prop('disabled', true);
            $('.surveying').prop('disabled', true);
            $('.site_maintanence').prop('disabled', true);
            $('.waterproofing').prop('disabled', false);
     
        }
            else if($(this).val() == 'CONCRETE') {
            $('.CONCRETE').show();
            $('.REINFORCEMENT').hide();
            $('.SHOTCRETE').hide();
            $('.DRAINAGE').hide();
            $('.ELECTRICAL').hide();
            $('.FINISHES').hide();
            $('.FIREPROOFING').hide();
            $('.MASONRY').hide();
            $('.METALS').hide();
            $('.SURVEYING').hide();
            $('.SITE_MAINTANENCE').hide();
            $('.WATERPROOFING').hide();  
            $('.concrete').prop('disabled', false);
            $('.reinforcement').prop('disabled', true);
            $('.drainage').prop('disabled', true);
            $('.shotcrete').prop('disabled', true);
            $('.electrical').prop('disabled', true);
            $('.finishes').prop('disabled', true);
            $('.fireproofing').prop('disabled', true);
            $('.masonry').prop('disabled', true);
            $('.metals').prop('disabled', true);
            $('.surveying').prop('disabled', true);
            $('.site_maintanence').prop('disabled', true);
            $('.waterproofing').prop('disabled', true);
         
        }
            else{
            $('.CONCRETE').hide();
            $('.REINFORCEMENT').hide();
            $('.SHOTCRETE').hide();
            $('.DRAINAGE').hide();
            $('.ELECTRICAL').hide();
            $('.FINISHES').hide();
            $('.FIREPROOFING').hide();
            $('.MASONRY').hide();
            $('.METALS').hide();
            $('.SURVEYING').hide();
            $('.SITE_MAINTANENCE').hide();
            $('.WATERPROOFING').hide();
        }
       });
    });   
</script>

<script>
  $("#button").click(function(){
    $("#spinner").show();
  });

      $(document).ready(function(){
    $("#flip").click(function(){
    $("#panel").slideToggle("slow");
    });
    });

    
    $(document).ready(function(){
    $("#flip_obs").click(function(){
    $("#panel_obs").slideToggle("slow");
    });
    });

    $(document).ready(function(){
    $("#flip_hours").click(function(){
    $("#panel_hours").slideToggle("slow");
    });
    });
</script>