<h1>Search RESULTS</h1>

  <%= form_tag "/daily_reports", method: "GET" do %>
    <%= text_field_tag :q, params[:q] %>
  <%= submit_tag "Search" %>
<% end %>
<BR>
<table>
<% @inspections.each do |inspection| %>
  <tr>
    <td><%= inspection.heading %></td>
    <td><%= inspection.element %></td>
    <td><%= inspection.start %></td>
    <td><%= inspection.finish %></td>
    <td><%= inspection.operation %></td>
  </tr>
   <% end -%>
</table>


<h5><%= link_to 'DAILY REPORT', daily_reports_path%>
	<br>
<%= link_to 'PROJECT CONTROLLER', root_path%></h5>



