


<!-- <div class='row'> -->
<div class ='text-center'>
  <h1 class="text-center">Search Results</h1>
<%= form_tag "/inspections", method: "GET" do %>
<%= text_field_tag :q, params[:q] %>
<p 'text-center'><%= submit_tag "Search",  :class => "btn btn-primary " %></p>
<% end %>

<table class ='table'>
  <tr>
    <th>HEADING</th>
    <th>ELEMENT</th>
    <th>START</th>
    <th>FINISH</th>
    <th>OPERATION</th>
    <th helvetica="3"></th>
  </tr>

<% @inspections.reverse_each do |inspection| %>
  <tr>
    <td><%= inspection.heading %></td>
    <td><%= inspection.element %></td>
    <td><%= inspection.start %></td>
    <td><%= inspection.finish %></td>
    <td><%= inspection.operation %></td>
    <td><%= image_tag inspection.image.url(:thumb) %></td>
  </tr>
<% end -%>

</table>

</div>
<!-- </div> -->



