<p>


<td><%= @inspection.heading %></td>
    <td><%= @inspection.element %></td>
    <td><%= @inspection.start %></td>
    <td><%= @inspection.finish %></td>
    <td><%= @inspection.operation %></td>

</p>