<div class = "container">
  <h1 class="text-center ">Daily Report</h1>
  <div class="text-center ">  
  <br>     
  <p ><%= image_tag(@user.image.url(:thumb)) %></p>
  <p><%= button_to  "Export Excel",daily_reports_path(format: "xls"), :class => "btn ", :method => :get %></p>
</div>

<div class='row'>
  <div class ='span8'>
    <h3>Summary</h3>
     <table class="table" >
              <tr>
                <th>Heading</th>
                <th>Element</th>
                <th>Start</th>
                <th>Finish</th>
                <th>Operation</th>

                <th>Images</th>

              </tr>


            <% @inspections.each do |inspection| %>
              <tr>
                <td><%= inspection.heading %></td>
                <td><%= inspection.element %></td>
                <td><%= inspection.start %></td>
                <td><%= inspection.finish %></td>
                <td><%= inspection.operation %></td>
                <td><%= image_tag inspection.image.url(:thumb) %></td>
              </tr>
            <% end -%>


            <% @walls.each do |wall| %>
              <tr>
                <td><%= wall.heading %></td>
                <td><%= wall.element %></td>
                <td><%= wall.start %></td>
                <td><%= wall.finish %></td>
                <td><%= wall.operation %></td>
                <td><%= image_tag wall.image.url(:thumb) %></td>
              </tr>
            <% end -%>


             <% @slabs.each do |slab| %>
                <tr>
                  <td><%= slab.heading %></td>
                  <td><%= slab.element %></td>
                  <td><%= slab.start %></td>
                  <td><%= slab.finish %></td>
                  <td><%= slab.operation %></td>
                  <td><%= image_tag slab.image.url(:thumb) %></td>
                </tr>
            <% end -%>


             <% @arches.each do |arch| %>
              <tr>
                <td><%= arch.heading %></td>
                <td><%= arch.element %></td>
                <td><%= arch.start %></td>
                <td><%= arch.finish %></td>
                <td><%= arch.operation %></td>
                <td><%= image_tag arch.image.url(:thumb) %></td>
              </tr>
              <% end -%>      
          </table>
  <!-- 
          <h3>Notes:</h3>
          <table>
              <% @daily_report.narratives.each do |narrative| %>
                <p><%= narrative.narrative %>
                <%= link_to '+', [narrative.daily_report, narrative],
                         method: :delete,
                         data: { confirm: 'Are you sure?' } %>
                  <% end %>
                </p>
          </table>

          <h3>Create Note:</h3>
              <%= form_for([@daily_report, @daily_report.narratives.build]) do |f| %>
                <table>
                  <tr>
                    <%= f.text_area :narrative %></th> 
                  </tr>
                </table>  
                    <p><%= f.submit class: 'btn btn-primary' , value: 'Create Note '%></p>
          <% end %> -->

        </div>

      <div class ='span1'>
      </div>
      
      <div class ='span3'>
          <h3>Search</h3>
            <%= form_for daily_reports_path do |f| %>
              <h2><%= f.date_field :date %></h2>
            <%= f.submit 'Submit', class: 'btn btn-primary', value: 'Find' %>
          <% end %> 
          
      </div>

</div>

<div>
    <% @inspections.each do |inspection| %>
      <tr>
    <td><%= image_tag inspection.image.url(:original) %></td>
  </tr>
<% end -%>


    <% @walls.each do |wall| %>
      <tr>
    <td><%= image_tag wall.image.url(:original) %></td>
  </tr>
<% end -%>

<% @slabs.each do |slab| %>
  <tr>
    <td><%= image_tag slab.image.url(:original) %></td>
  </tr>
<% end -%>

<% @arches.each do |arch| %>
  <tr>
    <td><%= image_tag arch.image.url(:original) %></td>
  </tr>
<% end -%>
</div>


