<div class = "container">

<h1 class="text-center ">Daily Report</h1>
<div class='row'>
<div class ='span9'>

<h3>Summary</h3>
<table class="text-center" >
  <tr>
    <th>HEADING</th>
    <th>ELEMENT</th>
    <th>START</th>
    <th>FINISH</th>
    <th>OPERATION</th>
    <th>IMAGES</th>
    <th helvetica="3"></th>
  </tr>
<% @walls.each do |wall| %>
  <tr>
    <td><%= wall.heading %></td>
    <td><%= wall.element %></td>
    <td><%= wall.start %></td>
    <td><%= wall.finish %></td>
    <td><%= wall.operation %></td>
    <td><%= image_tag wall.image.url(:thumb) %></td>
  </tr>
<% end -%>
   <% @slabs.each do |slab| %>
  <tr>
    <td><%= slab.heading %></td>
    <td><%= slab.element %></td>
    <td><%= slab.start %></td>
    <td><%= slab.finish %></td>
    <td><%= slab.operation %></td>
     <td><%= image_tag slab.image.url(:thumb) %></td>
  </tr>
<% end -%>
 <% @arches.each do |arch| %>
  <tr>
    <td><%= arch.heading %></td>
    <td><%= arch.element %></td>
    <td><%= arch.start %></td>
    <td><%= arch.finish %></td>
    <td><%= arch.operation %></td>
    <td><%= image_tag arch.image.url(:thumb) %></td>
  </tr>
<% end -%>
</table>

<h3>Narrative</h3>
<table>

<% @daily_report.narratives.each do |narrative| %>
<p><%= narrative.narrative %>
<%= link_to '+', [narrative.daily_report, narrative],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
<% end %>
</p>
</table>

<h3>Create Narrative:</h3>
<%= form_for([@daily_report, @daily_report.narratives.build]) do |f| %>
<table>
  <tr>
    <%= f.text_area :narrative,  :cols => "50", :rows => "2" %></th>
    <th helvetica="3"></th>
  </tr>
</table>  
    <p><%= f.submit class: 'button' , value: 'Create Narrative '%></p>
<% end %>



</div>
<div class ='span3'>
  <h3>Search</h3>
<%= form_for daily_reports_path do |f| %>
<h2><%= f.date_field :date %></h2>
<%= f.submit 'Submit', class: 'button', value: 'Find' %>
<% end %> 
<h5><%= link_to "Export EXCEL",daily_reports_path(format: "xls") %></h5>

</div>
</div>
<% @walls.each do |wall| %>
  <tr>
    <td><%= image_tag wall.image.url(:medium) %></td>
  </tr>
<% end -%>

<% @slabs.each do |slab| %>
  <tr>
    <td><%= image_tag slab.image.url(:medium) %></td>
  </tr>
<% end -%>

<% @arches.each do |arch| %>
  <tr>
    <td><%= image_tag arch.image.url(:medium) %></td>
  </tr>
<% end -%>

</div>

