<h1>Daily REPORT</h1>

<strong>
<p>Daily REPORT includes the summary of all activities the took place on any given day.
<br>
...</p>
</strong>

<%= form_for @daily_report do |f| %>
  <p>
    <%= f.text_area :narrative,  :cols => "50", :rows => "5"%>
  </p>
 

  <p>
    <%= f.submit 'Submit NARRATIVE', class: 'button' %> 
    <!-- Where do I control the submit button is rendered? -->
  </p>
<% end %>

<h3>NARRATIVE</h3>



<strong>
<% @daily_reports.each do |daily_report| %>
  <tr>
    <td><%= daily_report.narrative %></td>
  </tr>
   <% end -%>

</strong>


<h3>SUMMARY</h3>
<table>
  <tr>
    <th>HEADING</th>
    <th>ELEMENT</th>
    <th>START</th>
    <th>FINISH</th>
    <th>OPERATION</th>
    <th helvetica="3"></th>
  </tr>
<% @walls.each do |wall| %>
  <tr>
    <td><%= wall.heading %></td>
    <td><%= wall.element %></td>
    <td><%= wall.start %></td>
    <td><%= wall.finish %></td>
    <td><%= wall.operation %></td>
  </tr>
   <% end -%>
   <% @slabs.each do |slab| %>
  <tr>
    <td><%= slab.heading %></td>
    <td><%= slab.element %></td>
    <td><%= slab.start %></td>
    <td><%= slab.finish %></td>
    <td><%= slab.operation %></td>
  </tr>
  <% end -%>
  </table>


<h3>PHOTOS</h3>
<strong>
<p>Include the photo loading gem. PAPERCLIP.
</p>
</strong>





<h5><%= link_to 'PROJECT CONTROLLER', root_path%></h5>

