<h3>SUMMARY</h3>
<table>
  <tr>
    <th>HEADING</th>
    <th>ELEMENT</th>
    <th>START</th>
    <th>FINISH</th>
    <th>OPERATION</th>
    <th helvetica="3"></th>
  </tr>

<% @walls.each do |wall| %>
  <tr>
    <td><%= wall.heading %></td>
    <td><%= wall.element %></td>
    <td><%= wall.start %></td>
    <td><%= wall.finish %></td>
    <td><%= wall.operation %></td>
  </tr>
   <% end -%>
  
   <% @slabs.each do |slab| %>
  <tr>
    <td><%= slab.heading %></td>
    <td><%= slab.element %></td>
    <td><%= slab.start %></td>
    <td><%= slab.finish %></td>
    <td><%= slab.operation %></td>
  </tr>
  <% end -%>
  </table>