<h1>Daily REPORT</h1>

<strong>
<p>Daily REPORT includes the summary of all activities the took place on any given day.
It is controlled by the lead. Include a mechanism that allows the LEAD to approve inspections.</p>
</strong>
<% # TODO add a date selector %>



<%= form_for daily_reports_path do |f| %>
<table>
  <tr> 
    <th><%= f.label :Look_UP %><br>
    <%= f.date_select :date %></th>
    <th helvetica="3"></th>
  </tr>

  </table>
    <p><%= f.submit 'Submit', class: 'button', value: 'Find REPORT' %></p>
<% end %> 



<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>





<h3>SUMMARY</h3>
<table>
  <tr>
    <th>HEADING</th>
    <th>ELEMENT</th>
    <th>START</th>
    <th>FINISH</th>
    <th>OPERATION</th>
    <th helvetica="3"></th>
  </tr>
<% @walls.each do |wall| %>
  <tr>
    <td><%= wall.heading %></td>
    <td><%= wall.element %></td>
    <td><%= wall.start %></td>
    <td><%= wall.finish %></td>
    <td><%= wall.operation %></td>
    <td><%= image_tag wall.image.url(:thumb) %></td>
  </tr>
   <% end -%>
   <% @slabs.each do |slab| %>
  <tr>
    <td><%= slab.heading %></td>
    <td><%= slab.element %></td>
    <td><%= slab.start %></td>
    <td><%= slab.finish %></td>
    <td><%= slab.operation %></td>
     <td><%= image_tag slab.image.url(:thumb) %></td>
  </tr>
  <% end -%>
  </table>
<% @walls.each do |wall| %>
  <tr>
    <td><%= image_tag wall.image.url(:medium) %></td>
  </tr>
   <% end -%>

   <% @slabs.each do |slab| %>
  <tr>
    <td><%= image_tag slab.image.url(:medium) %></td>
  </tr>
   <% end -%>


<h3>PHOTOS</h3>
<strong>
<p>Include the photo loading gem. PAPERCLIP.
</p>
</strong>




<h5>
<%= link_to 'Inspection REPORTS', inspection_reports_path%>
<br>
<%= link_to 'PROJECT CONTROLLER', root_path%>
</h5>


