<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>

<p class = "text-center"><u><strong><%= link_to 'Today',daily_reports_path, :class => "btn  "%><strong></u></p>
<h1 class="text-center ">Daily Report</h1>

  <div class="text-center" >       
        <!-- <p>    
            <%= @user.username%>
        </p> -->
<br>
    <!--     <p>           
            <%= link_to 'VDC Coordinator', users_path  if current_user.admin? %>        
        </p> -->
        <p ><%= image_tag(@user.image.url(:thumb)) %></p>
  </div>

<div class="text-center" > 
<%= button_to  "Export Excel", daily_report_path(format: "xls"), :class => "btn btn-primary ", :method => :get %>
</div>


    <div class="text-center">
   
  
        <br>
        <table class="table" >
          <tr>
            <th>Heading</th>
            <th>Element</th>
            <th>Start</th>
            <th>Finish</th>
            <th>Operation</th>
            <th>Images</th>
          </tr>


          <% @inspections.each do |inspection| %>
            <tr>
              <td><%= inspection.heading %></td>
              <td><%= inspection.element %></td>
              <td><%= inspection.start %></td>
              <td><%= inspection.finish %></td>
              <td><%= inspection.operation %></td>
              <td><%= image_tag inspection.image.url(:thumb) %></td>
            </tr>
          <% end -%>
          
          <% @walls.each do |wall| %>
            <tr>
              <td><%= wall.heading %></td>
              <td><%= wall.element %></td>
              <td><%= wall.start %></td>
              <td><%= wall.finish %></td>
              <td><%= wall.operation %></td>
              <td><%= image_tag wall.image.url(:thumb) %></td>
            </tr>
          <% end -%>
           <% @slabs.each do |slab| %>
              <tr>
                <td><%= slab.heading %></td>
                <td><%= slab.element %></td>
                <td><%= slab.start %></td>
                <td><%= slab.finish %></td>
                <td><%= slab.operation %></td>
                <td><%= image_tag slab.image.url(:thumb) %></td>
              </tr>
          <% end -%>
           <% @arches.each do |arch| %>
            <tr>
              <td><%= arch.heading %></td>
              <td><%= arch.element %></td>
              <td><%= arch.start %></td>
              <td><%= arch.finish %></td>
              <td><%= arch.operation %></td>
              <td><%= image_tag arch.image.url(:thumb) %></td>
            </tr>
            <% end -%>      
        </table>
    
    </div>  


<h3 class="text-center ">Images</h3>
    <% @inspections.each do |inspection| %>
      <tr>
    <td><%= image_tag inspection.image.url(:original) %></td>
  </tr>
<% end -%>


<% @walls.each do |wall| %>
  <tr>
    <td><%= image_tag wall.image.url(:original) %></td>
  </tr>
   <% end -%>

   <% @slabs.each do |slab| %>
  <tr>
    <td><%= image_tag slab.image.url(:original) %></td>
  </tr>
   <% end -%>



