<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>DailyTrack</title>

          <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
          <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
          <%= csrf_meta_tags %>
          <%= favicon_link_tag 'favicon_6.ico' %>
 
</head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
</head>

<body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li ><a href="/inspection_reports">Inspection Report</a></li>
          <li><a href="/daily_reports">Daily Report</a></li>
          <li><%= link_to 'Search', inspections_path %></li>
          <li><a href="/users">Profile</a></li>
          <li> <%= link_to "Exit", destroy_user_session_path, method: :delete %></li>
        </ul>
        <h2 ><%= link_to 'Daily Track', root_path%><h2>
      </div>

<div class = 'container'>
<%= yield %>
</div>

</body>
</html>
